[Unit]
Description=Lounasvahti Daemon
After=network.target

[Service]
Type=simple
User={{USER}}
WorkingDirectory={{PROJECT_PATH}}
ExecStart={{PYTHON_EXEC}} {{PROJECT_PATH}}/scripts/daemon.py
Restart=always
Environment="PYTHONPATH={{PROJECT_PATH}}"

[Install]
WantedBy=multi-user.target
